<h1 class="center">Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

<!-- Closing </div> from _form partial -->
</div>
