// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-view {
    font-size: 15pt !important;
}

#show-container {
    padding-top: 50px;
}

#project-index-table {
    font-size: 15pt !important;
}
